<!-- home.html -->
{% extends "base.html" %}
{% block content %}
{% block title %}<title>Início</title>{% endblock %}
<div class="vertical-center">
  <div class="container mt-5">
    <h2 class="text-primary">Sobre o Projeto</h2>
    <p class="mt-4">
      A qualidade da água é fundamental em diversos contextos, como criadouros e sistemas agrícolas. No entanto, a regulagem de e monitoramento de pH e salinidade em ambientes pecuarios é trabalhoso e depende de medições frequentes para garantir a hidradação devida do gado.
    </p>
    <p>
      Para resolver esse problema, desenvolvemos um sistema automatizado baseado em IoT. Utilizando sensores conectados ao ESP32, o sistema realiza leituras constantes da água e aciona automaticamente sistemas que corrigem os níveis de sal e acidez quando necessário.
    </p>
    <p>
      A proposta visa tornar o monitoramento mais prático, preciso e acessível, garantindo maior segurança na manutenção da qualidade da água.
    </p>
  </div>
</div>
{% endblock %}


